@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
p{
  text-align: center;
  max-width: 500px;
}


  .button-container {
    position: relative;
      background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
      background-size: 400% 100%;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius: 0.25em;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 25px;
    margin: 0;
    animation: Gradient 4s ease infinite;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    min-height: 40px;
    padding: 0 1.618em;
    /* border-radius: inherit;
    background-size: inherit;
    background-image: inherit; */
    background: none;
    border: none;
    animation: Gradient 4s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-size: 50px;
    font-family: 'Graduate', cursive;
    cursor:pointer;
  }
  
  @keyframes Gradient {
      50% {
          background-position: 140% 50%;
      transform: skew(-2deg);
      }
  }
  
  button::after {
    content: '';
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    animation: inherit;
    left: 0px;
    right: 0px;
    top: 2px;
    height: 100%;
    filter: blur(1rem);
  }
  